.container {
  width: 284px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.banner {
  width: 284px;
  height: 160px;
  border-radius: 8px;
  background-size: cover;
  background-position: center;
}

.categoryContainer {
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
}

.category {
  font-size: 10px;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 4px;
  color: var(--blue-color);
  background-color: var(--blue-bgr-color);
}

.title {
  margin-top: 8px;
  font-size: 14px;
  font-weight: bold;
  word-break: break-word;
}

.instructor {
  margin-top: 4px;
  font-size: 12px;
  font-weight: normal;
  color: #666;
}