.container {
    position: relative;
    width: 384px;
    cursor: pointer;
}

.imageWrapper {
    position: relative;
    width: 100%;
    height: 200px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.banner {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 24px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.7) 100%);
    border-radius: 8px;
}

.topContainer {
    display: flex;
    justify-content: flex-start;
    gap: 8px;
    margin-bottom: 12px;
}

.hotBadge {
    font-size: 12px;
    font-weight: bold;
    color: var(--red-txt-color);
    background-color: var(--red-bgr-color);
    padding: 4px 8px;
    border-radius: 4px;
}

.category {
    font-size: 12px;
    font-weight: bold;
    color: var(--blue-color);
    background-color: var(--blue-bgr-color);
    padding: 4px 8px;
    border-radius: 4px;
}

.bottomContainer {
    display: flex;
    align-items: center;
}

.rank {
    font-size: 36px;
    font-weight: bold;
    color: white;
    margin-right: 12px;
  }

.infoContainer {
    display: flex;
    flex-direction: column;
    color: white;
}

.title {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.instructor {
    font-size: 14px;
    margin-top: 4px;
}