.container {
  margin: 0 auto;
  width: 400px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
}

.lectureGrid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 24px 16px;
}

@media (min-width: 768px) {
  .lectureGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1184px) {
  .container {
    width: 1184px;
  }

  .adSection {
    width: 100vw;
    height: 176px;
    overflow-x: hidden;
    background-color: black;
    display: flex;
    justify-content: center;
  }
    .adImage {
      width: 1184px;
      height: 96px;
      border-radius: 8px;
      margin-top: 32px;
      background-color: var(--banner-bgr-color);
    }

  .top10Section {
    width: 100vw;
    height: 302px;
    overflow-x: hidden;
    background-color: black;
    display: flex;
    justify-content: center;
  }

  .top10Slides {
    width: 1184px;

  }

  .link {
    display: flex;
    flex-direction: row;

    img {
      width: 12px;
      height: auto;
      margin-left: 12px;
      margin-right: 8px;
    }
  }

  .liveSection {
    width: 100%;
    background-color: var(--bgr-color);
  }
    .sectionTitle {
      font-size: 20px;
      color: white;
    }

  .lectureGrid {
    grid-template-columns: repeat(4, 1fr);
  }
}