.container {
  width: 390px;
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding-bottom: 80px; /* 네비게이션 바 때문에 넣는 패딩 */
}

.adSection {
  margin-top: 20px;
}
.link {
  margin-top: 0;
  margin-left: 20px;
}
.sectionTitle {
  font-size: 16px;
  font-weight: bold;
  margin: 20px;
  margin-bottom: 5px;
}

.link {
  font-size: 14px;
  color: var(--primary-color);
  cursor: pointer;
  text-decoration: underline;
  margin-bottom: 20px;
  display: inline-block;
}

.lectureGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}