.container {
  padding: 20px;
}

.sectionTitle {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}

.link {
  font-size: 14px;
  color: var(--primary-color);
  cursor: pointer;
  text-decoration: underline;
  margin-bottom: 20px;
  display: inline-block;
}

.lectureGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}