.container {
    width: 390px;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.buttonContainer {
    display: flex;
    justify-content: flex-start; /* 왼쪽 정렬 */
    margin-bottom: 8px; /* 아래 요소와의 간격 조절 */
    width: 344px;
}

.primaryButton {
    width: 150px;
    height: 30px;
    background-color:  var(--primary-color); /* Primary color */
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

.wideButton {
    width: 344px;
    height: 40px;
    background-color:  var(--primary-color); /* Primary color */
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
}
