.container {
  width: 390px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 80px;
  background-color: white;
}
  
.profileContainer {
  width: 370px;
  height: 80px;
  background-color: var(--primary-color);
  padding: 0 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.profileImageContainer {
  position: relative;
}
  
.profilePicture {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}
/*
.profilePictureEditing {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: lightgray;
}
*/

.editOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background-color: rgba(0, 0, 0, 0.3); /* 어둡게 보이도록 처리 */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.editIcon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 30px;
  height: 30px;
  opacity: 0.8;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textContainer {
  margin: 0;
  width: 180px;
}

.nickname {
  font-size: 15px;
  font-weight: bold;
  color: white;
}

.email {
  font-size: 12px;
  color: white;
}
  
.nicknameInput {
  height: 25px;
  font-size: 12px;
  border: 0.5px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 4px;
}

.emailInput {
  height: 25px;
  font-size: 12px;
  border: 0.5px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

/*
.editButton {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}
*/

.editButton {
  background-color: transparent;
  border: none;
  margin-left: 150px;
  cursor: pointer;
}

.editButtonImage {
  width: 25px;
  height: 25px;
  opacity: 0.7;
}

.saveButton {
  margin-left: 20px;
  width: 70px;
  height: 40px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  /* transition: background-color 0.3s; */
}

.saveButton:hover {
  background-color: #F7F9E7;
}

/*
.saveButton-active {
  background-color:
  cursor: pointer;
}

.saveButton-inactive {
  background-color: #ccc;
  cursor: not-allowed;
}
*/

.lecturesHeader {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 370px;
  padding: 0 20px;
}

.addLectureButton {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.emptyContainer {
  text-align: center;
  margin-top: 20px;
}

.emptyImage {
  width: 180px;
  height: 180px;
  margin: 20px auto;
}

.lectureGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4px;
}