.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding-bottom: 60px; /* NavigationBar 크기만큼의 패딩 */
  background-color: white;
}
  
.profileContainer {
  width: 320px;
  height: 70px;
  background-color: #eee;
  padding: 0 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: -160px;
}
  
.profilePicture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
  
.profilePictureEditing {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: lightgray;
}
  
.username {
  font-size: 16px;
  font-weight: bold;
}
  
.usernameInput {
  width: 200px;
  height: 30px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 5px;
}
  
.editButton {
  margin-left: 160px;
  border: 1px solid red;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.lecturesHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 320px;
  height: 60px;
  background-color: #eee;
  padding: 0 20px;
  border-radius: 10px;
}

.addLectureButton {
  border: 1px solid red;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.emptyContainer {
  text-align: center;
  margin-top: 20px;
}

.emptyImage {
  width: 180px;
  height: 180px;
  margin: 20px auto;
}

.lectureGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}