.wideButton {
  width: 370px;
  height: 45px;
  background-color: var(--blue-color);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
}

.wideButton:disabled {
  background-color: var(--border-color); /* 버튼이 비활성화일 때 색상 변경 */
  cursor: not-allowed;
}

.wideButton:hover:disabled {
  background-color: #ccc;
}

.wideButton:hover {
  background-color: var(--blue-hover-color);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3), 0 4px 6px rgba(0, 0, 0, 0.1);
}

.fixed {
  position: fixed;
  bottom: 6px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}