.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.column {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.space {
    width: 100%;
    display: block;
    /* background-color: #007bff; */
}

