:root {
    --primary-color: #727CB8;
    --hover-color: #7984C7;
    
    --border-color: #5D5D5D;
    --divider-color: #2C2C2C;
    --banner-bgr-color: #1D1D1E;
    --bgr-color: #141516;
    --btn-border-color: #424242;

    --blue-color: #2A62F2;
    --blue-bgr-color: #EBF1FF;
    --blue-hover-color: #214EC1;
    --red-color: #FF3333;
    --red-txt-color: #F22A2A;
    --red-bgr-color: #FFEBEB;
    --blue-container: #FAFBFD;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
  
@font-face {
    font-family: 'Pretendard';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Pretendard', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}
  
strong, h1, h2, h3 {
    font-weight: 700; /* Bold 스타일 */
}
  
p {
    font-weight: 400; /* Regular 스타일 */
}

/* 기본 버튼 스타일 */
button {
    border: none;
    cursor: pointer;
}
  
/* 기타 공통 스타일 정의 */
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    /* margin-bottom: 10px; */
}