@font-face {
    font-family: 'Pretendard';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
  
@font-face {
    font-family: 'Pretendard';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Pretendard', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}
  
strong, h1, h2, h3 {
    font-weight: 700; /* Bold 스타일 */
}
  
p {
    font-weight: 400; /* Regular 스타일 */
}
  
.container {
    width: 400px;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding-bottom: 80px; /* 네비게이션 바 때문에 넣는 패딩 */
}

/* 기본 버튼 스타일 */
button {
    cursor: pointer;
}
  
/* 기타 공통 스타일 정의 */
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    /* margin-bottom: 10px; */
}