.breadcrumb {
  margin: 0 auto;
  padding-left: 30px;
  width: 1184px;
  height: 68px;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  box-sizing: border-box;
}
  
.breadcrumbItem {
  color: #7a7a7a; /* Gray for previous links */
  text-decoration: none;
}

.breadcrumbItem:hover {
  text-decoration: underline;
}

.currentItem {
  color: #000000; /* Black for current page */
}

.separator {
  margin: 0 8px;
  color: #7a7a7a; /* Gray for the '>' separator */
}

.divider {
  width: 100vw;
  height: 1px;
  background-color: #DFDFDF;
}

@media (min-width: 1184px) {
  .breadcrumb {
    padding-left: 10px;
  }
}