.breadcrumb {
  margin: 0 auto;
  padding-left: 30px;
  width: 1184px;
  height: 68px;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  box-sizing: border-box;
}
  
.breadcrumbItem {
  text-decoration: none;
  color: #0073e6;
  margin-right: 8px;
}

.breadcrumbItem:hover {
  text-decoration: underline;
}

.separator {
  margin-right: 8px;
  color: #888;
}

.divider {
  width: 100vw;
  height: 1px;
  background-color: #DFDFDF;
}

@media (min-width: 1184px) {
  .breadcrumb {
    padding-left: 10px;
  }
}