.container {
  margin-top: -65px;
  width: 400px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  background-color: white;
}

.title {
  font-size: 20px;
  font-weight: bold;
}

hr {
  border: 1.5px solid black;
}

.label {
  font-size: 14px;
  font-weight: bold;
  color: black;
  margin-bottom: 5px;
  text-align: left;
  width: 150px;
}

.imageContainer {
  width: 150px;
  display: flex;
  flex-direction: column;
}

.uploadButton {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  margin: 10px;
  border: none;
  overflow: hidden;
}

.previewImage {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.bulletList {
  list-style-type: disc;
  font-size: 10px;
  color: #747474;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: left;
}

.listItem {
  margin-bottom: 2px;
}

.inputContainer {
  width: 250px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.inputField {
  width: 100%;
  padding: 8px;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.requiredMark {
  color: #2A62F2;
  margin-left: 2px;
}

.helperText {
  margin-bottom: 5px;
  color: #D13939;
  font-size: 10px;
}

.uploadButton2 {
  padding: 8px 16px;
  width: 88px;
  height: 36px;
  font-size: 14px;
  background-color: white; /* White background */
  color: #2A62F2; /* Blue text */
  border: 1px solid #2A62F2; /* Blue border */
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.deleteButton {
  padding: 8px 10px;
  width: 58px;
  height: 36px;
  font-size: 15px;
  font-weight: bold;
  background-color: white; /* White background */
  color: black; /* Black text */
  border: 1px solid black; /* Black border */
  border-radius: 5px;
  cursor: pointer;
}

/* Ensure the buttons are on the same line */
.buttonContainer {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

@media (min-width: 1184px) {
  .container {
    width: 560px;
  }


}

/* 모바일 환경에서만 적용되는 스타일 */
@media (max-width: 768px) {
  .container {
    padding: 16.5px;
    align-items: center;
    width: 100%; /* 화면 너비에 맞게 조정 */
    box-sizing: border-box; /* 패딩 포함 너비 조정 */
  }

  .deleteButton {
    background-color: white; /* 배경 색상 */
    color: black; /* 텍스트 색상 */
    border: 1px solid #000; /* 테두리 */
    width: 58px; /* 버튼 너비 */
    height: 36px; /* 버튼 높이 */
    margin-left: 12px; /* 왼쪽 버튼과의 간격 */}

    .inputField {
    width: 100%; /* 모바일에서는 입력 필드를 전체 너비로 조정 /
    margin-bottom: 10px; / 입력 필드 간 간격 */
    }
    
    .buttonContainer {
    display: flex;
    justify-content: space-between; /* 버튼들을 좌우로 정렬 */
    }
    
    .title {
    font-size: 18px; /* 모바일 환경에서 제목 폰트 크기 조정 */
    }
    
    .label, .helperText {
    text-align: center; /* 텍스트 중앙 정렬 */
    }
    
    .helperText {
    color: red; /* 오류 메시지 색상 */
    }
    
    .hr {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%; /* 구분선 전체 너비 */
    }
    }