/* Mobile ---------------------------------------------------- */

.mobileContainer {
    padding: 20px;
}
  
.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 32px;
  margin-top: 32px;
}

.buttonContainer {
  margin-top: 20px;
  margin-bottom: 60px; /* 네비게이션 바와의 간격 */
}

.inputField {
  width: 100%;
  margin-bottom: 20px;
}

input:focus {
  outline: 1px solid #007bff;
}

textarea:focus {
  outline: 1px solid #007bff;
}
  
.label {
  font-size: 16px;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}
  
.required {
  color: #2A62F2;
}

.helperText {
  font-size: 12px;
  color: #2A62F2;
  margin-top: 5px;
  min-height: 16px;
}

/* Desktop ---------------------------------------------------- */

.desktopContainer {
  width: 1184px;
  background: white;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  justify-self: center;
  justify-items: center;
  text-align: left;
}

/* 홈 > 내 강의실 > 강의소개 ------------ */
.desktopNavigator {
  padding: 15px 20px;
  color: #888888;
  text-align: left;
}

/* 전체 화이트 박스 ------------ */
.desktopBox {
  display: flex;
  width: 100%;
  border-radius: 16px;
  padding: 40px 40px 20px 40px;
  justify-content: flex-start;
  border: 1px solid #ccc;
}