.navBar {
    width: 390px;
    height: 60px;
    background-color: var(--primary-color);
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .navItem {
    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
  }
  
  .icon {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
  }
  
  .label {
    font-size: 10px;
    font-weight: 600;
  }