.container {
  width: 400px;
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  padding-bottom: 80px;
  word-break: keep-all;
  overflow-wrap: break-word;
}

.banner {
  width: 380px;
  height: 200px; 
  margin-top: 15px;    
  background-color: var(--blue-bgr-color);
  border-radius: 16px;
  background-size: cover;
  background-position: center;
}

.basicInfo {
  margin: 20px 0;
  padding: 10px;
  width: 100%;
}
  .category {
    font-size: 12px;
    color: var(--blue-color);
  }
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .title {
    font-size: 18px;
    font-weight: bold;
  }
  .button {
    width: 120px;
    height: 34px;
    color: white;
    background-color: var(--blue-color);
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.instructorSection {
  width: 100%;
  margin-bottom: 20px;
  padding: 15px 20px;
  display: flex;
  flex-direction: row;
  background-color: var(--blue-container);
  img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-right: 15px;
  }
  h5{
      font-size: 16px;
      color: var(--blue-color);
  }
  p {
      font-size: 14px;
      word-break: break-word;
      white-space: normal;
  }
}
.column {
  display: flex;
  flex-direction: column;
}
.divider {
  width: 100%;
  height: 1px;
  color: black;
}

.info {
  margin: 10px;
  padding: 15px 20px;
  width: 380px;
  background-color: var(--blue-bgr-color);
  border-radius: 4px;
  h5 {
      font-size: 16px;
      color: var(--blue-color);
      margin-bottom: 12px;
  }
  p {
      font-size: 14px;
      font-weight: bold;
  }
}