:root {
  --kakao-bgr-color: #FEE500;
  --inactive-color: #8A8A8A;
  --inactive-bgr-color: #BCBCBC;
}

.container {
  margin: 0 auto;
  width: 400px;
  min-height: calc(100vh - 66px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.title {
  font-size: 20px;
  font-weight: bold;
}

.kakaoButton, 
.alternativeButton {
  width: 300px;
  height: 46px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  box-sizing: border-box;
}

.kakaoButton {
  padding-right: 10px;
  background-color: var(--kakao-bgr-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}
  
.alternativeButton {
  background-color: var(--inactive-bgr-color);
  color: var(--inactive-color);
}

.link {
  font-size: 14px;
  color: var(--blue-color);
  cursor: pointer;
  text-decoration: underline;
}

@media (min-width: 1184px) {
  .container {
    width: 1184px;
  }

  .kakaoButton, 
  .alternativeButton {
    width: 500px;
    height: 50px; 
  }
}