.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    gap: 20px;
    padding: 20px;
    background-color: #fff;
    margin-top: -60px;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  .kakaoButton, 
  .alternativeButton {
    width: 280px;
    height: 46px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }

  .kakaoButton {
    background-color: #ffeb00;
    color: #3c1e1e;
    display: flex;
    justify-content: center;
    align-items: center;
  }

    .icon {
        width: 20px;
        height: 20px;
        margin-right: 15px;
        justify-content: center;
        align-items: center;
    }
  
  .alternativeButton {
    background-color: #747474; /* #747474 색상 */
    color: white;
  }
  
  .signUpPrompt {
    font-size: 14px;
    color: #333;
  }
  
  .signUpLink {
    font-size: 14px;
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
  }