.header {
  width: 100%;
  height: 65px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-bottom: 1px solid var(--border-color);
}

@media (min-width: 1184px) {
  .header {
    width: 100%;
  }
}

.logo {
  font-size: 20px;
  margin-bottom: 5px;
  font-weight: bold;
  text-align: center;
  color: white;
  cursor: pointer;
}

/*
@media (min-width: 1000px) {
  .logo {
    font-size: 20px;
  }

} 
*/

.icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.profileImage {
  width: 30px;
  height: 30px; 
  cursor: pointer;
  border-radius: 50%;
}

.loginButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 67px;
  height: 33px;
  border-radius: 4px;
  color: white;
  background-color: var(--blue-color);
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  margin-right: 10px;
}

.dropdown {
  position: absolute;
  right: 0px; /* 헤더 오른쪽 정렬 */
  top: 60px; /* 헤더 아래로 드롭다운 위치 */
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  width: 100px;
  z-index: 1000;
}

.dropdown div {
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.dropdown div:hover {
  background-color: #f0f0f0;
}

.leftButton {
  position: absolute;
  left: 15px;
}

.rightButton {
  position: absolute;
  right: 15px;
}