.header {
  width: 390px;
  height: 70px;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  font-family: 'Kavoon', cursive;
  font-size: 20px;
  color: white;
  cursor: pointer;
}