.inputField {
  width: 100%;
  margin-bottom: 20px;
}
  
.label {
  font-size: 16px;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}
  
.required {
  color: #2A62F2;
}
  
.input, .textArea {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0 10px;
  font-size: 14px;
  background-color: white;
}
  
.textArea {
  padding: 12px 10px;
  resize: none;
}
  
.helperText {
  font-size: 12px;
  color: #2A62F2;
  margin-top: 5px;
  min-height: 16px;
}