.container {
  width: 390px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
  background-color: white;
}

@media (min-width: 1184px) {
  .container {
    width: 1184px;
  }
}

.listContainer {
  width: 390px;
  background-color: white;
  border-radius: 8px;
  padding: 20px;
}
  
.title {
  font-size: 16px;
  font-weight: bold;
  margin-top: 12px;
  margin-bottom: 20px;
  margin-left: 5px;
  text-align: left;
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 12px;
  font-weight: normal;
  background-color: white;
  border-radius: 8px;
}

.table thead th {
  position: sticky;
  height: 40px;
  top: 0;
  background-color: black;
  color: white;
  z-index: 1000;
  padding: 8px;
}

.table th, .table td {
  text-align: left;
  padding: 8px;
}

.table th {
  color: white;
  font-weight: bold;
}

.table th:first-child {
  border-top-left-radius: 5px; /* 왼쪽 상단 둥근 모서리 */
}

.table th:last-child {
  border-top-right-radius: 5px; /* 오른쪽 상단 둥근 모서리 */
}

.table tr:last-child {
  border-bottom-left-radius: 5px; /* 왼쪽 하단 둥근 모서리 */
  border-bottom: none;
}

.table th:nth-child(1),
.table td:nth-child(1) {
  width: 10%; /* No. 열 */
  justify-content: center;
  align-items: center;
  padding-left: 10px;
}

.table th:nth-child(2),
.table td:nth-child(2) {
  width: 10%; /* 프로필 열 */
  align-items: center; /* 프로필 이미지 상하 중앙 정렬 */
}

.table th:nth-child(3),
.table td:nth-child(3) {
  width: 20%; /* 닉네임 열 */
}

.table th:nth-child(4),
.table td:nth-child(4) {
  width: 30%; /* email 열 */
}

.table td:nth-child(4) {
  font-size: 10px;
}

.table th:nth-child(5),
.table td:nth-child(5) {
  width: 20%; /* 신청일자 열 */
}

.table td:nth-child(5) {
  font-size: 10px;
}

.table td {
  border-bottom: 1px solid #e0e0e0;
}

.profileImage {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}

.tableContainer{
  max-height: 600px; /* 최대 높이를 설정하여 이 높이를 초과하면 스크롤 */
  overflow-y: auto; /* 세로 스크롤 허용 */
  height: 600px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}