.categoryContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.categoryDropdown {
    width: 100%;
    height: 50px;
    padding: 8px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
