.container {
    width: 344px;
    background-color: #F3F3F3;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
}

.container span{
    margin: 0px 4px;
    font-size: 13px;
}

.line {
    display: flex;
    align-items: flex-start; /* 텍스트가 •와 같은 높이에서 시작되도록 설정 */
    margin: 6px 4px;
}