.container {
    width: 344px;
    background-color: #F3F3F3;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
}

.scheduleItem {
    display: flex;
    font-size: 13px;
    margin: 6px 4px;
    align-items: center;
    justify-content: space-between;
}

.scheduleItemNumber {
    display: inline-block;
    width: 10px;
    text-align: right; 
    margin-right: 8px;
    margin-left: 2px;
    align-self: flex-start;
}

.deleteButton {
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.scheduleContent{
    display: inline-block;
    width: 190px;
}

.schedule{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.scheduleBox{
    display: flex;
}