.scheduleForm {
    width: 344px;
}

.scheduleForm h4 {
    margin-left: 16px;
    margin-bottom: 8px;
}

.scheduleRow {
    display: flex;
    gap: 10px;
    margin-bottom: 8px;
    width: 344px;
    padding: 0 8px;
}

.scheduleRow label {
    flex: 1;
}

.scheduleForm label {
    display: block;
}

.scheduleForm input,
.scheduleForm select {
    width: 100%;
    padding: 4px 6px;
    box-sizing: border-box;
    border: 1px solid #ccc; /* 기본 테두리 색상 (stroke) */
    border-radius: 8px; /* 테두리 반경 */
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    font-size: 12px;
}

.scheduleForm input:focus,
.scheduleForm select:focus {
    border-color: var(--primary-color); /* 포커스 시 테두리 색상 (stroke) */
    box-shadow: 0 0 5px var(--primary-color); /* 포커스 시 그림자 */
}

.scheduleForm .titleInput {
    padding: 8px 6px; /* 좌우 패딩을 6px로 조정 */
    box-sizing: border-box;
    font-size: 12px;
    margin: 0 8px 8px 8px; /* 상단과 하단 마진만 설정, 좌우는 제거 */
    width: calc(100% - 16px); /* 부모 요소의 너비에 맞게 계산 */
}

.primaryButton {
    width: 100%;
    padding: 0px 12px;
    color: var(--primary-color);
    border: none;
    cursor: pointer;
    background-color: transparent;
    transition: color 0.3s ease;
    font-size: 16px;
    display: flex;
    justify-content: end;
    margin-bottom: 10px;
}

.primaryButton:hover {
    color: #0056b3;
}
