.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.small {
  width: 362px;
  height: 50px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.large {
  width: 362px;
  height: 215px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

img {
  width: 100%;
  height: 100%;
  object-fit: hidden;
  border-radius: 5px;
}