.adSection {
  width: 100vw;
  height: 176px;
  overflow-x: hidden;
  background-color: black;
  display: flex;
  justify-content: center;
}

.adImage {
  width: 1184px;
  height: 96px;
  border-radius: 8px;
  margin-top: 32px;
  background-color: var(--banner-bgr-color);
}