.adSection {
  width: 100vw;
  height: 176px;
  overflow-x: hidden;
  background-color: black;
  display: flex;
  justify-content: center;
}
.adImage {
  margin-top: 16px;
  width: 380px;
  height: 96px;
  border-radius: 8px;
  background-color: var(--banner-bgr-color);
  cursor: pointer;
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }
}

@media (min-width: 1184px) {
  .adImage {
    width: 1184px;
    height: 96px;
    margin-top: 32px;
  }
}