html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #445ca5;
  display: flex;
  justify-content: center;
  text-align: center;
}

@media (min-width: 1184px) {
  body {
    margin: 0 auto;
    background-color: white;
  }
}

.black-background {
  background-color: #141516;
  color: white;
}

.App {}
