html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #445ca5;
  display: flex;
  justify-content: center;
  text-align: center;
}

@media (min-width: 1184px) {
  body {
    margin: 0 auto;
    background-color: white;
  }
}

.black-background {
  background-color: black; /* 배경을 검은색으로 설정 */
  color: white; /* 텍스트 색상도 조정 가능 */
}

.App {}
