.container {
  width: 400px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
  background-color: white;
}

.videoSection {
  margin-top: 20px;
  position: relative;
}

.screenShare {
  width: 350px;
  height: 200px;
  background-color: #707274;
/*  background-color: #B2B6D0; */
  border-radius: 4px;
}
.screenShare video {
  border: 0.5px solid #707274;
  width: 100%;
  height: 100%;
  /* 화면 터치하면 object-fit으로 바뀌는 거 */
  /* object-fit: cover; */
  border-radius: 4px;
}

.smallVideo {
  border: 0.5px solid red;
  width: 100px;
  height: 70px;
  /*
  width: 120px;
  height: 84px;
  */
  /* 
  width: 80px;
  height: 50px;
  */
  background-color: #4A4B4D;
  border-radius: 4px;
  position: absolute;
  bottom: 5px;
  right: 5px;
}
.smallVideo video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.noCamOverlay {
  width: 40px; /* 원하는 크기로 설정 */
  height: auto;
}

.info {
  width: 350px;
  text-align: left;
  margin: 10px 0;
  padding-left: 4px;
  h2 {
    font-size: 16px;
  }
  p {
    margin-top: 3px;
    font-size: 12px;
    color: #555;
  }
}

.controls {
  border: 0.5px solid #4A4B4D;
  padding: 5px 20px;
  margin-top: 10px;
  width: 350px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  border-radius: 5px;
}

.icon {
  width: 20px;
  height: auto;
}

.controls button {
  width: 80px;
  border: none;
  padding: 5px;
  border-radius: 5px;
  background-color: white;
  font-size: 10px;
  font-weight: bold;
  transition: box-shadow 0.2s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.controls button:active {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transform: translateY(2px);
}

.chatSection {
  margin-top: 10px;
  flex: 1; /* 남은 공간을 모두 차지 */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end; /* 하단에 정렬 */
  overflow: hidden; /* 불필요한 스크롤 제거 */
}
  
.chatWindow {
  width: 100%;
  height: 250px;
  background-color: #f0f0f0;
  overflow-y: scroll;
  padding: 10px;
}

.chat {
  margin: 5px;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.profContainer {
  img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
  }
}

.chatInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
  h5 {
    padding-left: 5px;
    font-size: 12px;
    margin-right: 10px;
  }
  p {
    font-size: 9px;
  }
}

.myChat {
  justify-content: flex-end;
}

.myTime {
  display: flex;
  align-self: flex-end;
  text-align: right;
  margin-left: auto;
}

.chatBubble {
  padding: 8px 12px;
  font-size: 12px;
  background-color: white;
  border-radius: 10px;
  max-width: 280px;
  align-self: flex-start;
}

.myChatBubble {
  background-color: black;
  color: white;
  align-self: flex-end;
}

.chatInput {
  background-color: black;
  width: 400px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0px;
}
  
.chatInput textarea {
  flex: 1;
  padding: 10px;
  margin-left: 10px;
  height: 37px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-family: Pretendard;
}
  
.chatInput button {
  margin: 0 10px;
  width: 65px;
  height: 37px;
  border-radius: 5px;
  background-color: var(--blue-color);
  color: white;
  font-weight: bold;
}