.videoSection {
  border: 1px solid black;
  margin-top: 10px;
  position: relative;
}
  
.video {
  width: 350px;
  height: 200px;
  background-color: #B2B6D0;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.smallVideo {
  width: 100px;
  height: 70px;
  background-color: black;
  color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.info {
  border: 1px solid black;
  width: 350px;
  text-align: left;
  margin: 2px;
  h2 {
    font-size: 18px;
  }
  p {
    font-size: 15px;
    color: #555;
  }
}

.controls {
  width: 350px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  display: flex;
  gap: 10px;
  background-color: #B2B6D0;
  border-radius: 5px;
  padding: 10px 20px;

  button {
    border: none;
    padding: 5px;
    border-radius: 5px;
    background-color: white;
  }
}
  
.chatSection {
  margin-top: 10px;
}
  
.chatWindow {
  width: 350px;
  height: 300px;
  background-color: #f0f0f0;
  border-radius: 8px;
  overflow-y: scroll;
  padding: 10px;
}

.profContainer {
  img {
    width: 40px;
    height: 40px;
  }
}
  
.chatInput {
  display: flex;
  margin-top: 10px;
}
  
.chatInput input {
  flex: 1;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
  
.chatInput button {
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 4px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  cursor: pointer;
}